---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export const prerender = true;

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();

const formatDate = (value: Date) =>
  value.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
---
<BaseLayout title={post.data.title} description={post.data.subtitle}>
  <article>
    <h2>{post.data.title}</h2>
    {post.data.subtitle && <p><em>{post.data.subtitle}</em></p>}
    <table>
      <tbody>
        <tr>
          <th class="width-min">Published</th>
          <td>
            <time datetime={post.data.date.toISOString()}>
              {formatDate(post.data.date)}
            </time>
          </td>
        </tr>
        {post.data.tags && post.data.tags.length > 0 && (
          <tr>
            <th>Tags</th>
            <td>{post.data.tags.join(", ")}</td>
          </tr>
        )}
      </tbody>
    </table>
    <Content />
  </article>
</BaseLayout>
